doctype html
html
  head
    extends ../templates/layout
    block title
        title Cubiversum - Admin
  body
    block append header
    block prepend footer
        .content
            h1(style='text-align:center') Welcome to Cubiversum's admin page, which is currently still under construction.